@import url(https://fonts.googleapis.com/css?family=Chivo:300,400,700);@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);.styleApp__column___1ya-m, .styleApp__chart___1GoLq, .styleApp__sidebar___1mh2d, .styleApp__sidebar___1mh2d .styleApp__text___NAc84 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

html,
body {
  height: 100%;
  width: 100%;
  min-width: 900px;
  margin: 0;
  padding: 0; }

#root {
  height: 100%;
  width: 100%;
  overflow-x: hidden; }

body {
  background: #e4e2d9;
  color: #4a4a4a;
  font-family: "Chivo", sans-serif;
  font-weight: 400; }

text {
  fill: #4a4a4a;
  font-family: "Roboto Mono", sans-serif;
  font-size: 12px; }

.domain {
  opacity: 0; }

.tick {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .tick line,
  .tick path {
    stroke: rgba(97, 94, 84, 0.37); }
  .tick text {
    fill: #545249; }

.yAxis .tick:first-of-type line,
.yAxis .tick:first-of-type path {
  stroke: black; }

.styleApp__social___3uQEm {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10px; }

.styleApp__social___3uQEm > div {
  margin-right: 10px; }

a {
  color: #5a99a3; }

img.styleApp__poster___3RurB {
  max-height: 100%;
  max-width: 100%;
  -webkit-box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.16), 0px 3px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.16), 0px 3px 10px 0 rgba(0, 0, 0, 0.12);
  margin-right: -30%;
  max-height: 600px;
  -webkit-filter: contrast(125%);
          filter: contrast(125%); }

.styleApp__landing___1j4jQ {
  position: relative;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  background-color: #e4e2d8; }
  .styleApp__landing___1j4jQ .styleApp__image___2TVVd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #5a99a3; }
  .styleApp__landing___1j4jQ .styleApp__right___mjZJp {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-top: 45px; }
    .styleApp__landing___1j4jQ .styleApp__right___mjZJp .styleApp__inner___3JuZC {
      margin: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      max-width: 450px;
      height: 100%; }
    .styleApp__landing___1j4jQ .styleApp__right___mjZJp .styleApp__name___3WrSf a {
      color: #5a99a3;
      font-size: 12px;
      font-weight: 700; }
    .styleApp__landing___1j4jQ .styleApp__right___mjZJp .styleApp__title___7EExQ {
      font-size: 44px;
      line-height: 52px;
      font-weight: 300;
      padding-top: 20px; }
    .styleApp__landing___1j4jQ .styleApp__right___mjZJp .styleApp__intro___2QHiT {
      font-size: 16px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      line-height: 25px;
      padding: 20px 0px; }
    .styleApp__landing___1j4jQ .styleApp__right___mjZJp .styleApp__getStarted___YbcUF {
      margin-top: 10px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 700; }

.styleApp__divider___dOfp6 {
  border-bottom: solid 1px #d2cebc;
  width: 100%; }

.styleApp__outer___sBkk3 {
  height: 100%;
  width: 100%; }

.styleApp__main___2mVVV {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  width: 200%;
  min-height: 500px;
  height: 100%;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .styleApp__main___2mVVV .styleApp__name___3WrSf {
    font-size: 12px;
    color: #4a4a4a;
    margin-bottom: 10px; }

.styleApp__main___2mVVV.styleApp__shifted___2qM8s {
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.styleApp__content___127ZB {
  padding: 50px 50px 50px 34px;
  width: 50%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.styleApp__chart___1GoLq {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.styleApp__sidebar___1mh2d {
  background-color: white;
  -webkit-box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.16), 0px 3px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.16), 0px 3px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  margin-left: 60px;
  width: 33%;
  padding: 36px 30px 30px 30px; }
  .styleApp__sidebar___1mh2d .styleApp__buttons___1ztRQ {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top: 2px solid #d2cebc;
    padding-top: 20px;
    margin-top: 10px; }
    .styleApp__sidebar___1mh2d .styleApp__buttons___1ztRQ .styleApp__button___3O4cK {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: #4a4a4a;
      font-weight: 400;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 18px;
      cursor: pointer;
      -webkit-transition: opacity 0.2s ease-out;
      -o-transition: opacity 0.2s ease-out;
      transition: opacity 0.2s ease-out; }
    .styleApp__sidebar___1mh2d .styleApp__buttons___1ztRQ .styleApp__hidden___2LU7K {
      opacity: 0;
      pointer-events: none; }
  .styleApp__sidebar___1mh2d .styleApp__progress___3BuFu {
    width: 100%;
    margin-bottom: 20px; }
    .styleApp__sidebar___1mh2d .styleApp__progress___3BuFu .styleApp__title___7EExQ {
      font-size: 20px;
      margin-bottom: 15px;
      font-weight: 300; }
      .styleApp__sidebar___1mh2d .styleApp__progress___3BuFu .styleApp__title___7EExQ span {
        font-weight: 400; }
    .styleApp__sidebar___1mh2d .styleApp__progress___3BuFu .styleApp__container___2iFl6 {
      width: 100%;
      height: 1px;
      background-color: #d2cebc; }
      .styleApp__sidebar___1mh2d .styleApp__progress___3BuFu .styleApp__container___2iFl6 .styleApp__filled___3PjtG {
        -webkit-transition: width 0.2s ease-out;
        -o-transition: width 0.2s ease-out;
        transition: width 0.2s ease-out;
        background-color: #5a99a3;
        height: 100%; }
  .styleApp__sidebar___1mh2d .styleApp__textContainerOuter___26x-i {
    overflow-x: hidden;
    height: 100%;
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0px 10px; }
  .styleApp__sidebar___1mh2d .styleApp__textContainer___2NR5V {
    height: 100%;
    width: 700%;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .styleApp__sidebar___1mh2d .styleApp__text___NAc84 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 15px;
    line-height: 24px; }
    .styleApp__sidebar___1mh2d .styleApp__text___NAc84 p {
      -webkit-hyphens: auto;
          -ms-hyphens: auto;
              hyphens: auto; }
    .styleApp__sidebar___1mh2d .styleApp__text___NAc84 .styleApp__textTitle___QEPi6 {
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 40px;
      font-weight: 300;
      line-height: 48px; }
  .styleApp__sidebar___1mh2d .styleApp__text___NAc84.styleApp__PIA___2mKGl {
    padding-bottom: 10px; }
  .styleApp__sidebar___1mh2d .styleApp__demonstration___1oCwA {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px; }
    .styleApp__sidebar___1mh2d .styleApp__demonstration___1oCwA img {
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
              box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      position: absolute;
      max-width: 100%;
      margin: auto;
      max-height: 100%; }

.styleApp__lineLabels___2DjUQ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto Mono";
  font-size: 12px;
  margin-top: 25px; }
  .styleApp__lineLabels___2DjUQ .styleApp__capLabel___1URm4,
  .styleApp__lineLabels___2DjUQ .styleApp__awiLabel___2gvwT {
    margin-right: 5px;
    height: 3px;
    width: 16px; }
  .styleApp__lineLabels___2DjUQ .styleApp__capLabel___1URm4 {
    background-color: #c56c68; }
  .styleApp__lineLabels___2DjUQ .styleApp__awiLabel___2gvwT {
    background-color: #FFC107; }
  .styleApp__lineLabels___2DjUQ .styleApp__earningsLabel___2ST-0,
  .styleApp__lineLabels___2DjUQ .styleApp__earningsCappedLabel___2yK_C,
  .styleApp__lineLabels___2DjUQ .styleApp__earningsAdjustedLabel___1xMal {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-right: 4px; }
  .styleApp__lineLabels___2DjUQ .styleApp__earningsLabel___2ST-0 {
    background-color: #9f9a89; }
  .styleApp__lineLabels___2DjUQ .styleApp__earningsCappedLabel___2yK_C {
    background-color: #5a99a3; }
  .styleApp__lineLabels___2DjUQ .styleApp__earningsAdjustedLabel___1xMal {
    background-color: #5a99a3; }
  .styleApp__lineLabels___2DjUQ .styleApp__AIELabel___5eLO0 {
    width: 16px;
    margin-right: 4px;
    height: 1px;
    border-bottom: 2px dashed #65a6f6; }

.styleApp__lineLabels___2DjUQ > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 18px; }

@media only screen and (max-width: 1000px) {
  img.styleApp__poster___3RurB {
    margin-right: 0%; } }

@media only screen and (max-width: 1150px) {
  .styleApp__content___127ZB {
    padding: 40px 20px; }
  .styleApp__sidebar___1mh2d {
    margin-left: 20px; } }

@media only screen and (max-height: 600px) {
  .styleApp__landing___1j4jQ .styleApp__right___mjZJp {
    padding-top: 10px; }
  .styleApp__content___127ZB {
    padding: 20px; } }

.styleApp__notes___2OQfY p {
  margin: 5px 0px; }
.stylePIA__bg___1vYsJ {
  opacity: 0; }

.stylePIA__svg___gn09S {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  pointer-events: none; }
  .stylePIA__svg___gn09S .tick line,
  .stylePIA__svg___gn09S .tick path {
    opacity: 0.33; }
  .stylePIA__svg___gn09S .tick text {
    opacity: 0.5; }

circle.stylePIA__payment___2bNZC {
  fill: #669ee3;
  stroke: white;
  stroke-width: 3px; }

path.stylePIA__formula___698DM {
  stroke-width: 2px;
  stroke: #c56c68;
  fill: none; }

path.stylePIA__indicator___4OK88 {
  stroke: #669ee3;
  stroke-width: 2px;
  fill: none;
  stroke-dasharray: 5, 7; }

.stylePIA__label___1lS6i {
  text-anchor: middle; }

.stylePIA__label___1lS6i,
.stylePIA__labelLeft___2dQBV {
  font-family: "Chivo", sans-serif;
  fill: #669ee3; }
.stylePlot__column___1b0UY {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

svg.stylePlot__svg___pxeHi {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

circle.stylePlot__dot___169KR {
  fill: #7b786d;
  stroke: white;
  stroke-width: 3px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out; }

rect {
  stroke: none;
  pointer-events: none; }

rect.stylePlot__bg___1Su5e {
  opacity: 0;
  pointer-events: all;
  cursor: crosshair; }

rect.stylePlot__earnings___1FWgh {
  fill: #9f9a89;
  opacity: 0.9;
  pointer-events: none; }

rect.stylePlot__earnings___1FWgh.stylePlot__light___2X8fA {
  fill: #cbc9bd;
  opacity: 0.95; }

rect.stylePlot__earningsCapped___2Cx0o {
  fill: #5a99a3; }

rect.stylePlot__earningsAdjusted___1WeAL {
  fill: #5a99a3; }

path {
  pointer-events: none; }

path.stylePlot__cap___1zjNF {
  stroke: #c56c68;
  stroke-width: 2px;
  fill: none; }

path.stylePlot__awi___1-8Pn {
  stroke: #FFC107;
  stroke-width: 2px;
  fill: none; }

g.stylePlot__AIE___39YNr {
  pointer-events: none; }

line.stylePlot__AIE___39YNr {
  stroke-width: 3px;
  stroke: #65a6f6;
  fill: none;
  stroke-dasharray: 5, 7;
  pointer-events: none; }

text.stylePlot__AIE___39YNr {
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
.styleTooltip__column___2zHgr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.styleTooltip__tooltip___2icDQ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px;
  background-color: rgba(90, 153, 163, 0.8);
  position: absolute;
  pointer-events: none;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -webkit-transform: translate(-50%, -100%) translate(0, -10px);
      -ms-transform: translate(-50%, -100%) translate(0, -10px);
          transform: translate(-50%, -100%) translate(0, -10px); }

.styleTooltip__tooltip___2icDQ:after {
  content: " ";
  position: absolute;
  top: 100%;
  /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(90, 153, 163, 0.8) transparent transparent transparent; }

.styleTooltip__content___18EZw {
  font-size: 14px;
  line-height: 21px;
  color: white;
  font-weight: 300; }
