// @import "~material-colors/dist/colors";
@import url("https://fonts.googleapis.com/css?family=Chivo:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import "~src/styleShared.scss";

//===GLOBAL STUFF====
:global {
  html,
  body {
    height: 100%;
    width: 100%;
    min-width: 900px;
    margin: 0;
    padding: 0;
  }
  #root {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }
  body {
    background: $background;
    color: $fontColor;
    font-family: "Chivo", sans-serif;
    font-weight: 400;
    // user-select: none;
  }
  text {
    fill: $fontColor;
    font-family: "Roboto Mono", sans-serif;
    font-size: 12px;
  }

  .domain {
    opacity: 0;
  }
  //styling for axis stuff, not important
  .tick {
    line,
    path {
      stroke: rgba(#615e54, 0.37);
    }
    user-select: none;
    text {
      fill: #545249;
    }
  }

  .yAxis .tick:first-of-type {
    line,
    path {
      stroke: black;
      // stroke-width: 30px;
    }
  }
}

// ======= layout=======
.social {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 10;
  display: flex;
  height: 10px;
}
.social > div {
  margin-right: 10px;
}

p {
  // hyphens: auto;
}
a {
  color: $earningsAdjusted;
}
img.poster {
  max-height: 100%;
  max-width: 100%;
  @include shadow-dennys();
  margin-right: -30%;
  max-height: 600px;
  filter: contrast(125%);
}

.landing {
  position: relative;
  width: 50%;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  background-color: #e4e2d8;
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $earningsCapped;
  }

  .right {
    flex: 1;
    padding-top: 45px;
    .inner {
      margin: auto;
      display: flex;
      flex-direction: column;
      // width: 64%;
      max-width: 450px;
      // min-width: 400px;
      height: 100%;
    }
    .name a {
      color: $earningsCapped;
      font-size: 12px;
      font-weight: 700;
    }

    .title {
      font-size: 44px;
      line-height: 52px;
      font-weight: 300;
      padding-top: 20px;
    }
    .intro {
      font-size: 16px;
      box-sizing: border-box;
      line-height: 25px;
      padding: 20px 0px;
    }
    .getStarted {
      margin-top: 10px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 700;
    }
  }
}
.divider {
  border-bottom: solid 1px #d2cebc;
  width: 100%;
}
.outer {
  height: 100%;
  width: 100%;
}
.main {
  transition: transform 0.3s ease-out;
  width: 200%;
  min-height: 500px;
  height: 100%;
  transform: translateX(0);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;

  .name {
    font-size: 12px;
    color: $fontColor;
    margin-bottom: 10px;
  }
}
.main.shifted {
  transform: translateX(-50%);
}

.content {
  padding: 50px 50px 50px 34px;
  width: 50%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.chart {
  @extend .column;
  flex: 1;
}

//=====END LAYOUT=====

//==== SVG STUFF======

.sidebar {
  @extend .column;
  background-color: $sidebar-background;
  @include shadow-dennys();
  border-radius: 5px;
  margin-left: 60px;
  width: 33%;
  padding: 36px 30px 30px 30px;

  .buttons {
    user-select: none;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #d2cebc;
    padding-top: 20px;
    margin-top: 10px;
    .button {
      display: flex;
      color: $fontColor;
      font-weight: 400;
      align-items: center;
      font-size: 18px;
      cursor: pointer;
      transition: opacity 0.2s ease-out;
    }
    .hidden {
      // visibility: hidden;
      // tra
      opacity: 0;
      pointer-events: none;
    }
  }

  .progress {
    width: 100%;
    // margin-top: 15px;
    margin-bottom: 20px;
    .title {
      font-size: 20px;
      margin-bottom: 15px;
      font-weight: 300;
      span {
        font-weight: 400;
      }
    }
    .container {
      width: 100%;
      height: 1px;
      background-color: #d2cebc;
      .filled {
        transition: width 0.2s ease-out;
        background-color: $earningsCapped;
        height: 100%;
      }
    }
  }

  .textContainerOuter {
    overflow-x: hidden;
    height: 100%;
    position: relative;
    flex: 1;
    margin: 0px 10px;
  }
  .textContainer {
    // pointer-events: none;
    height: 100%;
    width: 700%;
    transition: transform 0.3s ease-out;
    display: flex;
  }
  .text {
    flex: 1;
    @extend .column;
    font-size: 15px;
    // word-wrap: break-word;
    p {
      hyphens: auto;
    }
    line-height: 24px;
    .textTitle {
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 40px;
      font-weight: 300;
      line-height: 48px;
    }
  }
  .text.PIA {
    padding-bottom: 10px;
  }

  .demonstration {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    // margin-bottom: 10px;
    // padding: 10px;
    margin: 10px;
    img {
      // height: 100%;
      @include shadow-2dp();
      position: absolute;
      max-width: 100%;
      margin: auto;
      max-height: 100%;
    }
  }
}

//=====END SVG STUFF====

//======= LABELS======
.lineLabels {
  display: flex;
  width: 100%;
  align-items: center;
  font-family: "Roboto Mono";
  font-size: 12px;
  margin-top: 25px;

  .capLabel,
  .awiLabel {
    margin-right: 5px;
    height: 3px;
    width: 16px;
  }
  .capLabel {
    background-color: $cap;
  }
  .awiLabel {
    background-color: $awi;
  }
  .earningsLabel,
  .earningsCappedLabel,
  .earningsAdjustedLabel {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-right: 4px;
  }
  .earningsLabel {
    background-color: $earnings;
  }
  .earningsCappedLabel {
    background-color: $earningsCapped;
  }
  .earningsAdjustedLabel {
    background-color: $earningsAdjusted;
  }
  .AIELabel {
    width: 16px;
    margin-right: 4px;
    height: 1px;
    border-bottom: 2px dashed $AIE;
  }
}

.lineLabels > div {
  display: flex;
  align-items: center;
  margin-right: 18px;
}

@media only screen and (max-width: 1000px) {
  img.poster {
    margin-right: 0%;
  }
}
@media only screen and (max-width: 1150px) {
  .content {
    padding: 40px 20px;
  }
  .sidebar {
    margin-left: 20px;
  }
  .textContainer .text {
    // font-size: 14px;
    // line-height: 20px;
  }
}

@media only screen and (max-height: 600px) {
  .landing .right {
    padding-top: 10px;
  }
  .content {
    padding: 20px;
  }
}

.notes p {
  margin: 5px 0px;
}
