@import "~src/styleShared.scss";
svg.svg {
  flex: 1;
}

circle.dot {
  fill: $dot;
  stroke: white;
  stroke-width: 3px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

circle.dot.grow {
  transform: scale(1.1);
}

rect {
  stroke: none;
  pointer-events: none;
}

rect.bg {
  opacity: 0;
  pointer-events: all;
  cursor: crosshair;
}

rect.earnings {
  fill: $earnings;
  opacity: 0.9;
  pointer-events: none;
}
rect.earnings.light {
  fill: #cbc9bd;
  opacity: 0.95;
}

rect.earningsCapped {
  fill: $earningsCapped;
}

rect.earningsAdjusted {
  fill: $earningsAdjusted;
}

path {
  pointer-events: none;
}

path.cap {
  stroke: $cap;
  stroke-width: 2px;
  fill: none;
}

path.awi {
  stroke: $awi;
  stroke-width: 2px;
  fill: none;
}
g.AIE{
  pointer-events: none;
}

line.AIE {
  stroke-width: 2px;
  stroke: $AIE;
  fill: none;
  stroke-dasharray: 5, 7;
  pointer-events: none;
}
text.AIE {
  font-size: 14px;
  user-select: none;
}
